/tzdist
/tzdata
/*.tar.gz
/*.tar.gz.asc
*~
dist/
.stack-work/
*.o
*.hi
*.chi
*.chs.h
/.virthualenv
/.hsenv
.cabal-sandbox/
cabal.sandbox.config
/cabal.config
dist-newstyle
.ghc.environment.*
cabal.project.local
